__pycache__/
*.pyc

venv/
.env

runs/
outputs/*
!outputs/.gitkeep

input_videos/*
!input_videos/.gitkeep

models/*
!models/.gitkeep

*.mp4
*.avi
*.mov
*.mkv

*.pt
*.onnx
*.engine

Basketball-Players-*/
.roboflow/